@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

$color-dark: #191919;
$color-light: #979797;
$color-main: #a6a6a6;
$color-background: #f5f5f2;
$color-warning: #f6b93b;
$color-danger: #e55039;
$color-success: #78e08f;

$font-main: 'Roboto', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

h1 {
  font-family: $font-main;
  font-size: 16px;
  font-weight: $font-semibold;
  text-transform: uppercase;
  color: $color-main;
}

h2 {
  font-size: 16px;
  font-weight: $font-bold;
  font-family: $font-main;
  color: $color-main;
  text-align: left;
}

h3 {
  font-size: 14px;
  font-weight: $font-bold;
  font-family: $font-main;
}

span, p {
  font-family: $font-main;
}

// /* Components */
// @import "components/form_field";

// /* Sections */
// @import "section/registration_form";

// /* Pages / Views */
// @import "pages/registration";

body {
  background: $color-background;
}

section {
  padding: 18px;
  margin-left: 188px;
}

.container {
  // max-width: 12800px;
  background: #ffffff;
  text-align: center;
}

hr {
  margin: 0;
  border-top: 1px solid $color-light;
}

.sidenav {
  height: 100%;
  width: 188px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $color-dark;
  overflow-x: hidden;
  padding-top: 0;
}

.logo {
  display: flex;
  justify-content: space-between;
}

.logo i {
  color: $color-main;
  font-size: 24px;
  cursor: pointer;
}

.sidenav span {
  padding: 18px;
}

.sidenav i {
  padding: 0 10px;
}

.sidenav a {
  padding: 12px;
  text-decoration: none;
  font-size: 25px;
  color: $color-main;
  display: block;
  font-family: $font-main;
  font-size: 14px;
  border-left: 3px solid transparent;
}

.sidenav a:hover {
  color: #ffffff;
  background-color: #262626;
  border-color: $color-warning;
}

.sidenav h1 {
  color: $color-main;
}

.sidenav hr {
  margin: 30px 0;
}

.menago {
  color: $color-main;
  line-height: 1.5;
  display: flex;
  cursor: pointer;
}

.menago img {
  height: fit-content;
  size: 20px;
}

.menago p {
  padding: 0 10px;
  color: #56819f;
}

.fa-link {
  transform: rotate(45deg);
}

.navbar {
  background: #ffffff;
  margin-left: 188px;
  text-align: right;
}

.navbar i {
  padding: 0 10px;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: $font-main;
  font-weight: $font-semibold;
  color: $color-main;
}

.navbar ul li {
  display: inline-block;
  padding: 12px;
  position: relative;
  border-left: 1px solid;
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  color: &$color-main;
}

.page-header {
  margin: 0;
  padding: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

.section-title {
  text-align: left;
}

.content {
  max-width: 750px;
  margin: auto;
  padding: 35px 0 35px 0;
}

.date-picker {
  display: flex;
  justify-content: center;
}

.date-range {
  padding: 5px 0;
}

.date-range input {
  font-family: $font-main;
  font-weight: $font-semibold;
  color: $color-main;
  border-radius: 3px;
  border-color: $color-main;
  border-width: 0.5px;
}

.date-picker i {
  background-color: #f58220;
  color: #ffffff;
  padding: 10px;
  margin-left: 5px;
  vertical-align: baseline;
  border-radius: 4px;
  cursor: pointer;
}

.date {
  margin-right: 30px;
  border-right: solid 1px;
  border-color: $color-main;
  padding: 8px;
}

.box {
  flex: 33%;
  // margin: 0 20px;
  justify-content: space-between;
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px;
}

.box-right {
  margin-left: 20px;
}

.box-left {
  margin-right: 20px;
}

.box h2 {
  display: inline-flex;
  margin: 0;
}

.btn {
  background-color: #f58220;
  cursor: pointer;
  font-family: $font-main;
  line-height: 1.5;
  border-radius: .25rem;
  text-align: center;
  padding: 12px;
  color: #FFFFFF;
}

.btn:hover {
  background-color: #d67019;
}

// .btn:hover {
//   background-color: $color-light;
//   color: #ffffff;
// }

// .btn-2 {
//   background-color: #FFFFFF;
// }

// .dot-1 {
//   color: #80bfca;
// }

// .dot-2 {
//   color: #ff9a38;
// }

// .dot-3 {
//   color: #59b66d;
// }

.content img {
  margin: auto;
  padding: 20px;
}

.button {
  padding: 25px;
}

.link-title, .link-address {
  flex: 45%;
  text-align: left;
}

.link-icons {
  flex: 10%;
  display: flex;
  justify-content: space-around;
}

.link-icons i {
  opacity: 0;
}

.link-label {
  margin: 0;
  padding: 0;
  line-height: 2;
  border-bottom: 1px solid;
}

.first-label {
  border-top: 1px solid;
}

.link-label:hover {
  background-color: $color-background;
}

.link-label:hover .link-icons i {
  opacity: 1;
  cursor: pointer;
}

.link-icons .fa-link {
  color: #d67019;
}
